<footer class="footer">
  <div class="social">
    <a target="_blank" href=""><i class='bx bxl-linkedin'></i></a>
    <a target="_blank" href=""><i class='bx bxl-github'></i></a>
    <a target="_blank" href=""><i class='bx bxl-instagram-alt'></i></a>
    <a target="_blank" href=""><i class='bx bxs-envelope'></i></a>
  </div>

  <ul class="list">
    <li><a href="#">FAQ</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#home">About me</a></li>
    <li><a href="#contact">Contact me</a></li>
    <li><a href="#testimonials">Testimoials</a></li>
  </ul>

  <p class="copyright">© Sabrina Santos | All rights reserved</p>
</footer>
