<section class="testimonials" id="testimonials">
  <div class="testimonials-box">
    <h2 class="heading">Testimonials</h2>

    <div class="wrapper">
      <div class="testimonial-item">
        <img src="../../../assets/images/sasha-yakovleva-4.jpg" alt="Imagem de perfil do usuário que comentou.">
        <h2>Rogério</h2>
        <div class="rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, inventore vitae possimus perferendis
          voluptatum cupiditate deleniti repudiandae minus et ratione placeat maxime optio labore est error facilis in
          dolorem fuga.</p>
      </div>

      <div class="testimonial-item">
        <img src="../../../assets/images/sasha-yakovleva-4.jpg" alt="Imagem de perfil do usuário que comentou.">
        <h2>Houston</h2>
        <div class="rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, inventore vitae possimus perferendis
          voluptatum cupiditate deleniti repudiandae minus et ratione placeat maxime optio labore est error facilis in
          dolorem fuga.</p>
      </div>

      <div class="testimonial-item">
        <img src="../../../assets/images/sasha-yakovleva-4.jpg" alt="Imagem de perfil do usuário que comentou.">
        <h2>Leo</h2>
        <div class="rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, inventore vitae possimus perferendis
          voluptatum cupiditate deleniti repudiandae minus et ratione placeat maxime optio labore est error facilis in
          dolorem fuga.</p>
      </div>
    </div>

  </div>
</section>
