:host {
  .testimonials {
    background: var(--second-bg-color);

    .testimonials-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-size: cover;

      .heading {
        margin-bottom: 5rem;
      }

      .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        .testimonial-item {
          min-height: 550px;
          max-width: 450px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;

          margin: 0 2rem;
          padding: 30px 60px;
          color: #fff;

          border: 3px solid rgba(238, 238, 238, 0.2);
          border-radius: 1.5rem;
          gap: 1.5rem;

          cursor: pointer;
          transition: 0.4s ease-in-out;

          img {
            transition: 0.6s ease-in-out;
            width: 20rem;
            border-radius: 50%;
            border: 3px solid rgba(238, 238, 238, 0.2);
          }

          &:hover {
            border: 3px solid var(--main-color);
            transform: translateY(-10px)scale(1.03);
            box-shadow: 0 0 50px var(--main-color);

            img {
              transition: 0.6s ease-in-out;
              border: 3px solid var(--main-color);
              box-shadow: 0 0 25px var(--main-color);
            }
          }

          h2 {
            font-size: 2.8rem;
            margin-bottom: 0;
          }

          p {
            font-size: 1.3rem;
          }

          .rating {
            display: flex;
            gap: 0.5rem;

            i {
              font-size: 2rem;
              color: gold;
            }
          }

        }
      }
    }
  }
}
